# PyBank

In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [32]:
data = pd.read_csv('budget_data.csv')
data.head(5)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [40]:
x = data['Profit/Losses'].tolist()

In [41]:
print(f'Total months: {len(x)}')

Total months: 86

In [43]:
pnl = 0 
for i in x:
    pnl += i
    
print(f'Total: ${pnl}')

Total: $38382578

In [64]:
def average_change(y):
    return sum(y)/len(y)

print(f'Average  Change: ${average_change(x)}')

Average  Change: $446309.0465116279

In [65]:
print(f'Greatest Increase in Profits: $ {max(x)}')

Greatest Increase in Profits: $ 1170593

In [66]:
print(f'Greatest Decrease in Profits: $ {min(x)}')

Greatest Decrease in Profits: $ -1196225

Couldn't find how to identify with list, so we can use the 'loc' function to identify which row has the unique value of the max (same with min):

In [67]:
max_date=data.loc[data['Profit/Losses'] == 1170593,'Date'].values[0]
min_date=data.loc[data['Profit/Losses'] == -1196225,'Date'].values[0]

In [72]:
print(f'Greatest Increase in Profits: {max_date} $({max(x)})')

Greatest Increase in Profits: Feb-2012 $(1170593)

In [71]:
print(f'Greatest Increase in Profits: {min_date} $({min(x)})')

Greatest Increase in Profits: Sep-2013 $(-1196225)